body {
  background-color: #ccc;
}

.form {
  width: 100%;
}

.title {
  color: #293577;
}

.MuiOutlinedInput-multiline {
  background-color: white;
}


.App-header {
  text-align: center;
}

.container {
  background-color: #35393c;
}

.container-xml{
  padding: 10px;
}


.btn-calc{
  width: 50%;
  height: 50px;
}